
config global
	option enabled '0'
	option check_interval '5'
	option check_timeout '3'
	option recovery_delay '3'
	option failover_delay '2'

config link
	option name 'wan'
	option enabled '1'
	option priority '1'
	option metric '10'
	option ping_targets '223.5.5.5 119.29.29.29'
	option ping_weight '1'
	option dns_server '119.29.29.29'
	option dns_domain 'www.baidu.com'
	option dns_weight '1'
	option tcp_target '223.5.5.5'
	option tcp_port '80'
	option tcp_weight '1'
	option weight_threshold '2'

config link
	option name 'wan2'
	option enabled '1'
	option priority '2'
	option metric '20'
	option ping_targets '8.8.8.8 1.1.1.1'
	option ping_weight '1'
	option dns_server '8.8.8.8'
	option dns_domain 'www.google.com'
	option dns_weight '1'
	option tcp_target '1.1.1.1'
	option tcp_port '443'
	option tcp_weight '1'
	option weight_threshold '2'
